* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main */
html {
    height: 100%;
}

main {
    flex: 1;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    background: #333;
    padding: 1rem;
}

/* navigator */

nav {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background: #555;
}


nav ul li:last-child {
    margin-right: 0;
}

/* Estilos responsivos para la barra de navegaci贸n */
@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav ul li {
        margin: 5px;
    }
}





/* Estilos de la secci贸n Resume */
main {
    display: flex;
}

.left-column {
    min-height: 100vh;
    background-color: #f0e6d6; /* Color marr贸n claro */
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}

.right-column {
    background-color: #ffffff;
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
}

.profile-photo {
    width: 100%;
    height: auto;
}

.social-links a {
    font-size: 24px;
    color: #000;
    margin-right: 10px;
    text-decoration: none;
}

.social-links a:hover {
    color: #666;
}

/* Estilos responsivos para la secci贸n Resume */
@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        width: 100%;
    }
}


.right-column ul {
    margin: 0;
    padding: 0;
}

.right-column li {
    list-style-type: disc;
    margin-left: 20px;
}
