* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main */
html {
    height: 100%;
}

main {
    flex: 1;
}

footer {
    background: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    justify-items: center;
    justify-content: center;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/* 
header {
    background: rgb(0, 0, 0);
    padding: 1rem;
} */

/* navigator */

nav {
    text-align: center;
}

nav ul li a:hover {
    background: #555;
}


/* nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
}

nav ul li:last-child {
    margin-right: 0;
} */

/* Estilos responsivos para la barra de navegación */
/* @media screen and (max-width: 600px) {
    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav ul li {
        margin: 5px;
    }
} */



.text-reset{
    text-decoration: none;
}

.text-footer{
    /* text-align: justify;
    text-justify: auto; */
}


.social-text{
    font-size: 18px;
    justify-content:center;
    align-items: center;
    display: flex;
    height: 100%; 
    /* text-decoration: none !important;
    justify-content:center;
    align-items: center;
    display: flex;
    height: 100%;  */
}




.btn-outline-light{
    border-radius: 50%;
}


.link-third{
    justify-content:center;
    align-items: center;
}





/* Eliminar cuando este construido */
.construction {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.construction img {
  width: 100%;
  height: 100%;
}







