* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    padding: 1rem;
}

/* navigator */

nav {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background: #555;
}


nav ul li:last-child {
    margin-right: 0;
}

/* Estilos responsivos para la barra de navegaci贸n */
@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav ul li {
        margin: 5px;
    }
}


/* main */

main {
    padding: 1rem;
}

/* footer */

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}




/* Estilos de la secci贸n Resume */
main {
    display: flex;
}

.left-column {
    background-color: #f0e6d6; /* Color marr贸n claro */
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}

.right-column {
    background-color: #ffffff;
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
}

.profile-photo {
    width: 100%;
    height: auto;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
}

/* Estilos responsivos para la secci贸n Resume */
@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        width: 100%;
    }
}