* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main */
html {
    height: 100%;
}

main {
    flex: 1;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    background: #333;
    padding: 1rem;
}

/* navigator */

nav {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background: #555;
}


nav ul li:last-child {
    margin-right: 0;
}

/* Estilos responsivos para la barra de navegación */
@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav ul li {
        margin: 5px;
    }
}





/* Estilos de la sección Resume */
main {
    display: flex;
}

.left-column {
    min-height: 100vh;
    background-color: #f0e6d6; /* Color marrón claro */
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-column {
    background-color: #ffffff;
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.left-column h3 {
    margin: 10px 0;
    text-align: center;
}

@media (max-width: 768px) {
    .profile-photo {
        width: 40%;
        max-width: 150px;
        min-width: 80px;
    }
}

/*
.profile-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* Ajusta este valor si deseas cambiar el tamaño de la foto */
}
*/

.social-links a {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    color: #333;
}

.social-links a:hover {
    color: #666;
}

/* Estilos responsivos para la sección Resume */
@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        width: 100%;
    }
}


.right-column ul {
    margin: 0;
    padding: 0;
}

.right-column li {
    list-style-type: disc;
    margin-left: 20px;
}
