<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
  </head>  
  <body>
    <iframe src="templates/navigation.html" frameborder="0" scrolling="no" width="100%" height="50"></iframe>

    
    <header class="page-header"  
            role="banner">
          <h1 class="project-name">Certifications</h1>
    </header>
    <main id="content" class="main-content" role="main">
          {{ content }}
          <footer class="site-footer">
            &copy; 2023 Christian Fonseca
          </footer>
    </main>
  </body>
</html>